@model IEnumerable<SPT.Models.FolhaPagamento>
@using System.Collections.ObjectModel;
@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/css/FolhaPagamento/Index.css")">
    <script type="text/javascript" src="@Url.Content("~/js/FolhaPagamento/Index.js")"></script>
</head>

<h2>Folhas de Pagamento</h2>

<p>
    <a asp-action="CriarFolhaPagamento" class="btn btn-info">Cadastrar Folha de Pagamento</a>
</p>
<table class="table">
    <thead>
        <form asp-action="Index" method="post">
            <div class="form-group">
                <input class="form-control inputDate" type="date" data-val="true" name="minDate" value="@ViewBag.minDate" id="minDate">

                <input class="form-control inputDate" type="date" data-val="true" name="maxDate" value="@ViewBag.maxDate" id="maxDate">

                <button type="submit" class="btn btn-info" id="btnFilter">
                    <i class="fa fa-search"></i>
                </button>
                <button type="button" id="btnClear" class="btn btn-info btnClose">
                    <i class="fa fa-close"></i>
                </button>
            </div>
        </form>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasTrabalhadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th>
                Salário Mensal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorasTrabalhadas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Periodo)
                </td>
                <td>
                    @(item.Funcionario.ValorHora * item.HorasTrabalhadas)
                </td>
                <td>
                    <a asp-action="AtualizarFolhaPagamento" asp-route-id="@item.FolhaPagamentoId" class="btn btn-primary">Editar</a> |
                    <a asp-action="ExcluirFolhaPagamento" asp-route-id="@item.FolhaPagamentoId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>
<div class="totalGasto">
    <td>
        <Br><b>Total Gasto Mensal: @ViewBag.TotalGasto </b>
    </td>
</div>


<div class="btnVoltar">
    <a asp-controller="Funcionarios" asp-action="Index" class="btn btn-default">Voltar</a>
</div>


