@model IEnumerable<SPT.Models.Endereco>

<h2>Endereços</h2>

<p>
    <a asp-action="CriarEndereco" class="btn btn-info">Cadastrar Endereço</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                País
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th>
                Número
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logradouro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                <a asp-action="AtualizarEndereco" asp-route-id="@item.EnderecoId" class="btn btn-primary">Editar</a> |
                <a asp-action="ExcluirEndereco" asp-route-id="@item.EnderecoId" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
