@model IEnumerable<SPT.Models.Consorcio>

<h2>Consórcios</h2>

<p>
    <a asp-action="CriarConsorcio" class="btn btn-primary">Criar Consórcio</a>
    <a asp-action="GetValorParcela" class="btn btn-warning">Calcular Valor Parcela</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Segmento
            </th>
            <th>
                Taxa de Seguro
            </th>
            <th>
                Meses
            </th>
            <th>
                Descrição
            </th>
            <th>
                Valor da Carta
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Consorcios)
        {
        <tr>
            <td>
                @item.ConsorcioId
            </td>
            <td>
                @item.NomeSegmento
            </td>
            <td>
                @item.TaxaSeguro
            </td>
            <td>
                @item.QtdMesPlano
            </td>
            <td>
                @item.DescricaoPlano
            </td>
            <td>
                @item.ValorCarta
            </td>
            <td>
                <a asp-action="AtualizarConsorcio" asp-route-id="@item.ConsorcioId" class="btn btn-info">Editar</a> |
                <a asp-action="ExcluirConsorcio" asp-route-id="@item.ConsorcioId" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        }
    </tbody>
</table>
